#container {
  display: grid;
  place-items: center;
  height: 100vh;
}
#videoElement {
  width: 50%;
  height: 50%;
  border: 1px solid #ffffff;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
